#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ml-2025-capstone-concrete-crack-detector'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'
  THRESHOLD = '0.5'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
